In [2]:
import pandas as pd

df = pd.read_csv('../../data/raw/test.csv')

In [3]:
df.head()

,ID,설립연도,국가,분야,투자단계,직원 수,인수여부,상장여부,고객수(백만명),총 투자금(억원),연매출(억원),SNS 팔로워 수(백만명),기업가치(백억원)
0,TEST_0000,2002,CT010,핀테크,Series C,3261.0,No,Yes,45.0,5021.0,6680.0,2.00,1500-2500
1,TEST_0001,2020,CT001,푸드테크,Series C,3707.0,Yes,No,70.0,1601.0,4654.0,4.20,NaN
2,TEST_0002,2014,CT006,에듀테크,IPO,236.0,Yes,Yes,89.0,4709.0,9289.0,1.00,6000이상
3,TEST_0003,2003,CT001,에너지,Seed,637.0,Yes,Yes,17.0,2145.0,7005.0,5.00,1500-2500
4,TEST_0004,2006,CT010,핀테크,Seed,4922.0,Yes,No,68.0,4995.0,7593.0,4.36,NaN